<!DOCTYPE html>
<html>
<head>
  <title>SociaLight</title>
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jaldi:400,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://use.fontawesome.com/12ed17ed6b.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://widget.cloudinary.com/global/all.js"></script>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: '<%= ENV["CLOUD_NAME"] %>',
      upload_preset: '<%= ENV["UPLOAD_PRESET"] %>'
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
